<h1>
<div class="header">
<span id="head">
<span class="daily">D</span>aily <span class="daily">D</span>iary
<div id="title">
<a href="#">Hi,<%= name %></a>
<a href="/logout">Logout</a>
</div>
</span>
</div>
</h1>