.nav {
    color: #666666;
    float: right;
    padding: 6px 0 0;
    text-shadow: 1px 1px #888888;
    z-index: 1000;
}
.menu a {
    color: #3B3B3B;
    float: left;
    font-size: 17px;
    height: 28px;
    padding-top: 8px;
    text-decoration: none;
    width: 100%;
}
.menu span {
    color: #3B3B3B;
    float: left;
    font-size: 17px;
    height: 28px;
    padding-top: 8px;
    text-decoration: none;
    width: auto;
}
.menu a:hover {
    color: #BA3D00;
}
.menu {
    list-style: none outside none;
    margin: 0 auto;
    text-align: center;
    width: auto;
}
.menu li {
    float: left;
    padding: 0 15px;
    position: relative;
    width: auto;
    z-index: 1000;
}
.menu ul {
    background: none repeat scroll 0 0 #F7F7F7;
    box-shadow: 0 1px 2px;
    display: none;
    font: 13px Arial,Verdana;
    left: 0;
    list-style: none outside none;
    position: absolute;
    top: 29px;
    width: 155px;
}
.menu ul li {
    border-top: 1px solid #CCCCCC;
    float: left !important;
    padding: 0;
    width: 100%;
}
.menu ul li a, li.menuhover li a, li.menuhover li.menuhover li a {
    background: none repeat scroll 0 0 transparent;
    display: block;
    float: left;
    font-size: 12px;
    height: 22px;
    padding-left: 17px;
    padding-top: 10px;
    text-align: left;
}
.menu ul li a:hover, li.menuhover li a:hover, li.menuhover li.menuhover li a:hover {
    background: none repeat scroll 0 0 transparent;
    color: #BA3D00;
}
.menu ul li span, li.menuhover li span, li.menuhover li.menuhover li span {
    background: none repeat scroll 0 0 transparent;
    font-size: 12px;
    height: 22px;
    padding-left: 20px;
    padding-top: 10px;
    text-align: left;
}
.menu ul ul {
    left: 136px;
    top: 0;
}
.menu li.submenu {
    float: left;
    font-weight: normal;
}
.menu li.noborder {
    border-top: medium none;
}
li.menuhover a, li.menuhover li.menuhover a {
    color: #666666;
}
li.menuhover span, li.menuhover li.menuhover span {
    color: #999999;
}
#info {
    background: none repeat scroll 0 0 #EEEEEE;
    width: 180px;
}
#info li {
    border-top: medium none;
    color: #666666;
    font-size: 11px;
    line-height: 19px;
    padding: 12px;
    text-align: left;
    text-shadow: 1px 1px #FFFFFF;
    width: 160px;
}