<html>
<head>
<style>
h1
{
background-color:green;
color:white;
font-family:Cursive;
padding:10px;
}
body
{
margin:0px;
}
</style>
<title>
</title>
</head>

<body>
<h1>Welcome in Student panel</h1>
</body>

</html>